/* css for car page */

#car {
	position: relative;
    color: #FFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 8%;
}

#car h1 {
    position: relative;
    font-size: 20px;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.car-border {
	border-bottom: 1px solid #FFF;
}

#car-list {
    position: relative;
    width: 100%;
    flex: 1;
    overflow-y: auto;
    padding: 0;
}

.car-item {
    padding: 8px 0;
}

.car-item-title {}

.car-item-content {
    display: flex;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 4px;
}

#addCarBox {
	color: white;
	opacity: 1;
	display: none;
}

#addCarBox label {
	padding-left: 40px;
	display: inline-block;
	width: 100px;
}

#addCarBox h3 {
	padding-bottom: 10px;
}

.addCarBox-item {
	width: 200px;
	margin: 5px;
}

.addCarBox-button {
	width: 80px;
	margin-left: 80px;
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: pointer;
	background-color: white;
}